#body {
  height: 100vh;
  overflow: hidden;
}

#hero-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

#shot-logo {
  width: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
}

#cart {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100001;
}

#img-hero {
  width: 250px;
  margin-top: 10vh;
}

#title-cont {
  width: 90%;
}

#title {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-align: center;
}

#sub-title {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
}

#instruction {
  font-size: 13px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}