
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

      SMALLER TABLET VIEW

  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

  @media (min-width: 601px) and (max-width: 962px) {

  /* ===============================================

  HERO SECTION

  ===============================================*/


  #shot-logo {
    top: 15px;
    left: 20px;
  }

  #cart {
    top: 15px;
    right: 20px;
  }

  #img-hero {
    width: 300px;
  }

  #title-cont {
    width: 60%;
  }

  #title {
    font-size: 35px;
  }

  #sub-title {
    font-size: 20px;
  }

  #instruction {
    font-size: 16px;
  }
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

      LAPTOP / DESKTOP VIEW

  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media (min-width: 1280px) {

  /*===============================================

    HERO SECTION

  ===============================================*/


  #hero-section {
    width: 100%;
    flex-flow: row-reverse wrap;
    justify-content: center;
    margin-top: 20vh;
  }

  #shot-logo {
    width: 70px;
    top: 15px;
    left: 20px;
  }

  #cart {
    top: 15px;
    right: 20px;
  }

  #img-hero {
    width: 300px;
  }

  #title-cont {
    width: auto;
    margin-right: 110px;
  }

  #title {
    font-size: 50px;
    text-align: left;
  }

  #sub-title {
    text-align: left;
  }

  #instruction {
    font-size: 15px;
  }
}