
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

      SMALLER TABLET VIEW

  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

  @media (min-width: 601px) and (max-width: 962px) {

  /* ===============================================

  HERO SECTION

  ===============================================*/


  #shot-logo {
    top: 25px;
    left: 25px;
  }

  #cart {
    top: 25px;
    right: 25px;
  }

  #img-hero {
    width: 300px;
  }

  #title-cont {
    width: 60%;
  }

  #title {
    font-size: 35px;
  }

  #sub-title {
    font-size: 20px;
  }

  #instruction {
    font-size: 16px;
  }

  /* ===============================================

    PRODUCTS SECTIONS

  ===============================================*/

  .smalle-desc {
    top: 25px;
    left: 25px;
  }
  
  .shade-img {
    width: 350px;
  }
  
  .shade-name {
    font-size: 35px;
    transform: translate(-50%, 200%);
  }
  
  .price {
    bottom: 25px;
    right: 25px;
  }

  /* ===============================================

    MORE INFO

  ===============================================*/

  #img-more-info {
    margin: 50px;
  }

  #h-more-info {
    margin: 0 0 50px 50px;
  }

  #divbuyprice-more-info {
    margin-left: 50px;
  }

  #basic-desc-moe-info {
    margin: 50px 0 20px 50px;
  }

  #morep-more-info {
    margin: 20px 0 100px 50px;
  }
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

      LAPTOP / DESKTOP VIEW

  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media (min-width: 1280px) {

  /*===============================================

    HERO SECTION

  ===============================================*/


  #hero-section {
    width: 100%;
    flex-flow: row-reverse wrap;
    justify-content: center;
    margin-top: 0;
  }

  #shot-logo {
    width: 70px;
    top: 35px;
    left: 35px;
  }

  #cart {
    top: 35px;
    right: 35px;
  }

  #img-hero {
    width: 300px;
  }

  #title-cont {
    width: auto;
    margin-right: 110px;
  }

  #title {
    font-size: 50px;
    text-align: left;
  }

  #sub-title {
    text-align: left;
  }

  #instruction {
    font-size: 15px;
  }

  /* ===============================================

    PRODUCTS SECTIONS

  ===============================================*/

  .smalle-desc {
    top: 35px;
    left: 35px;
  }
  
  .shade-img {
    width: 450px;
  }
  
  .shade-name {
    font-size: 45px;
    transform: translate(-50%, 200%);
  }
  
  .price {
    bottom: 35px;
    right: 35px;
  }

   /* ===============================================

    MORE INFO

  ===============================================*/

  #img-more-info {
    margin: 100px 0 50px 200px;
  }

  #h-more-info {
    margin: 0px 0 50px 200px;
  }

  #divbuyprice-more-info {
    margin-left: 200px;
  }

  #basic-desc-moe-info {
    margin: 50px 0 50px 200px;
  }

  #morep-more-info {
    margin: 50px 0 50px 200px;
  }

    /*CART CONT*/
    #cart-item-cont {
      width: 70%;
      margin: 80px 15% 0 15%;
    }

}